# SPDX-FileCopyrightText: 2022 Felix Robles <felix@sequentech.io>
#
# SPDX-License-Identifier: AGPL-3.0-only
.prettierrc
*.json
*.md
*.mdx
*.html
*.css
*.yml
node_modules/
dist/
target/
pkg/
build/
.github